.idea
.serverless
/apex/*.zip
.DS_Store
.terraform/
ssh_user_rsa_key
**.pem
**.zip
terraform.tfstate.backup
terraform.tfstate
.terraform/
.DS_Store
.#*
.terraform.tfstate.lock.info
encrypted.tfvars
env.tfvars
vendor
__pychache__/
